body {
     font-family: sans-serif;
     background-image: "linear-gradient" (#b85db1);
}

header {
     background-color:rgb(148, 113, 185);
     border-bottom:5px solid orangered;
     padding:50px;
}
    
 .cabecalho {
 display: flex;
 justify-content: space-around;

}    
    h1{
    color:rgb(178, 75, 182));
    font-size:50px;primeiroano2023
    text-align:center;
}

    p{ 
    color:rgb(59, 28, 57);
    font-size:35px;
    text-align:justify;
    }

.logo {
     width: 300px;
     height: 200px;
     margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
     padding: 2px /*define uma distância interna entre um elemento a sua borda*/
     border: 0.2rem solid #000000;
     border-radius: 20px;
    }

.foto {
     width: 500px;
     height: 300px;
     margin: 10px;
     padding: 3px;
}
     border: 0.5rem solid #rgb(153, 63, 155);
     border:- radius:24px;primeiroano2023
}

.lista{primeiroano2023
     font-size: 20px;
}
     color:rgb(197, 124, 178);
     list-style: none;
}

.item-lista{
     display: inline-block;
     justify-content: spare-around;