body {
     background-image: linear-gradient#ffffff, #
}

    h1{
    color:rgb(91, 91, 167);
    font-size:50px;
    text-align:center;
    }

    p{ 
    color:black;
    font-size:35px;
    text-align:justify;
    }

    .logo {
     width: 300px;
     height: 200px;
     margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
     padding: 2px /*define uma distância interna entre um elemento a sua borda*/
     border 0.2rem solid #000000;
     border:-radius: 20px

.foto {
     width: 500px;
     height: 300px;
     margin: 10px;
     padding: 3px;
     border: 0.5rem solid #rgb(153, 63, 155);
     border:- radius:24px;
}

